body {
    background: lightblue;
}

.crystal-image {
    width: 300px;
    height: 300px;
}

#number-to-guess {
    font-weight: bold;
}

#crystal-collector-heading {
    font-weight: bold;
    text-align: center;
    background: lightgreen
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    background: lightgreen;
}

li {
    list-style: decimal;
    font-style: italic;
}